body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {

    height: 100%;

    line-height: 1.8;

}



/* Full height image header */

.bgimg-1 {

    background-position: center;

    background-size: cover;

    background-image: url("https://c8.alamy.com/comp/M7HTMF/vote-political-elections-background-illustration-for-campaign-leaflets-M7HTMF.jpg");

    min-height: 100%;

}

.w3-bar .w3-button {

    padding: 16px;
   
 

}



#logs

{

	display: inline-block; 

}

/* Add Animation */

@-webkit-keyframes animatetop {

    from {top:-300px; opacity:0} 

    to {top:0; opacity:1}

}



@keyframes animatetop {

    from {top:-300px; opacity:0}

    to {top:0; opacity:1}

}



/* The Close Button */

.close {

    color: white;

    float: right;

    font-size: 28px;

    font-weight: bold;

}



.close:hover,

.close:focus {

    color: #000;

    text-decoration: none;

    cursor: pointer;

}

